<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cacheEngine" class="ru.otus.main.cache.CacheEngineImpl">
        <constructor-arg name="maxElements" value="10"/>
        <constructor-arg name="lifeTimeMs" value="0"/>
        <constructor-arg name="idleTimeMs" value="0"/>
        <constructor-arg name="isEternal" value="false"/>
    </bean>

    <bean id="dbService" class="ru.otus.main.dbService.DBServiceImpl">
        <constructor-arg name="cacheEngine" ref="cacheEngine"/>
    </bean>

    <bean id="db_worker" class="ru.otus.main.worker.Worker" init-method="run">
        <constructor-arg name="dbService" ref="dbService"/>
    </bean>
</beans>